.DS_Store

test-latency-before/*/
test-latency-jozsi/*/
test-latency-josef/*/

test-throughput-before/*/
test-throughput-jozsi/*/
test-throughput-josef/*/

unisocket-clients/*/
unisocket-clients/out.txt
