.DS_Store

# Ignore subdirectories
test-latency-before/*/
test-latency-jozsi/*/
test-latency-josef/*/

test-throughput-before/*/
test-throughput-jozsi/*/
test-throughput-josef/*/

unisocket-clients/*/

# Ignore shell output files
test-latency-before/out-test.txt
test-latency-jozsi/out-test.txt
test-latency-josef/out-test.txt

test-throughput-before/out-test.txt
test-throughput-jozsi/out-test.txt
test-throughput-josef/out-test.txt

unisocket-clients/out-clients.txt
